*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#111;

    color:white;

    font-family:Arial, Helvetica, sans-serif;

}

header{

    position:absolute;

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 60px;

    z-index:100;

}

.logo{

    font-size:30px;

    font-weight:bold;

    color:#ff8c00;

}

nav a{

    color:white;

    text-decoration:none;

    margin-left:30px;

    transition:.3s;

}

nav a:hover{

    color:#ff8c00;

}

.hero{
    height:100vh;

    background-image: url("assets/images/landingpage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.overlay{

    background:rgba(0,0,0,.35);

    width:100%;
    height:100%;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

}

h1{

    font-size:70px;

    margin-bottom:20px;

}

p{

    font-size:24px;

    max-width:700px;

}

button{

    margin-top:40px;

    padding:18px 45px;

    background:#ff8c00;

    color:white;

    border:none;

    font-size:20px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    transform:scale(1.08);

}